<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registration_User</servlet-name>
        <servlet-class>com.sabzi_bazzer.Registration_User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration_Seller</servlet-name>
        <servlet-class>Registration_Seller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration_Seller1</servlet-name>
        <servlet-class>com.sabzi_bazzer.Registration_Seller1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainLogin</servlet-name>
        <servlet-class>com.sabzi_bazzer.MainLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Seller_AddProduct</servlet-name>
        <servlet-class>com.sabzi_bazzer.Seller_AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test_helper</servlet-name>
        <servlet-class>com.sabzi_bazzer.Test_helper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ss</servlet-name>
        <servlet-class>com.sabzi_bazzer.ss</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyprofileSeller_PD</servlet-name>
        <servlet-class>com.sabzi_bazzer.MyprofileSeller_PD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Seller_Change_Password</servlet-name>
        <servlet-class>com.sabzi_bazzer.Seller_Change_Password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyprofileSeller_AM</servlet-name>
        <servlet-class>com.sabzi_bazzer.MyprofileSeller_AM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Myprofilepichange</servlet-name>
        <servlet-class>com.sabzi_bazzer.Myprofilepichange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>com.sabzi_bazzer.SendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_profilechange</servlet-name>
        <servlet-class>com.sabzi_bazzer.User_profilechange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserMyprofile_PI</servlet-name>
        <servlet-class>com.sabzi_bazzer.UserMyprofile_PI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_changepassword</servlet-name>
        <servlet-class>com.sabzi_bazzer.User_changepassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_add_Address</servlet-name>
        <servlet-class>com.sabzi_bazzer.User_add_Address</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_update_Address</servlet-name>
        <servlet-class>com.sabzi_bazzer.User_update_Address</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Delete_address</servlet-name>
        <servlet-class>com.sabzi_bazzer.User_Delete_address</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addtocart</servlet-name>
        <servlet-class>com.sabzi_bazzer.Addtocart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration_User</servlet-name>
        <url-pattern>/Registration_User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration_Seller</servlet-name>
        <url-pattern>/Registration_Seller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration_Seller1</servlet-name>
        <url-pattern>/Registration_Seller1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainLogin</servlet-name>
        <url-pattern>/MainLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Seller_AddProduct</servlet-name>
        <url-pattern>/Seller_AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test_helper</servlet-name>
        <url-pattern>/Test_helper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ss</servlet-name>
        <url-pattern>/ss</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyprofileSeller_PD</servlet-name>
        <url-pattern>/MyprofileSeller_PD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Seller_Change_Password</servlet-name>
        <url-pattern>/Seller_Change_Password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyprofileSeller_AM</servlet-name>
        <url-pattern>/MyprofileSeller_AM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Myprofilepichange</servlet-name>
        <url-pattern>/Myprofilepichange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/SendMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_profilechange</servlet-name>
        <url-pattern>/User_profilechange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserMyprofile_PI</servlet-name>
        <url-pattern>/UserMyprofile_PI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_changepassword</servlet-name>
        <url-pattern>/User_changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_add_Address</servlet-name>
        <url-pattern>/User_add_Address</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_update_Address</servlet-name>
        <url-pattern>/User_update_Address</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Delete_address</servlet-name>
        <url-pattern>/User_Delete_address</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addtocart</servlet-name>
        <url-pattern>/Addtocart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
           10
        </session-timeout>
    </session-config>
</web-app>
